bootrom/*
docs/warnings.txt
/Makefrag.pkgs
target
*.jar
*.stamp
*.vcd
*.swp
*.swo
*.log
*#
*~
.idea
.DS_Store
env.sh
tags
*~
.bsp/
CHIPYARD_BUILD_INFO.make
cep_version.h
cep_adrMap.h
v2c_cmds.h
.PERSUITE*
*.dump
*.bin
*.img
*.elf
*.o
.conda-env/
.#*
first-clone-setup-fast-log
.bloop/
.metals/
project/.bloop/
project/metals.sbt
project/project/
.ivy2
.sbt
.classpath_cache/
.vscode/

# The following exclusions ensure that ASIC-related files
# do not get checked into the repository
build.sbt
/generators/chipyard/src/main/scala/DigitalTop.scala
/generators/chipyard/src/main/scala/System.scala
/generators/chipyard/src/main/scala/clocking/ClockBinders.scala
/generators/chipyard/src/main/scala/config/AbstractCEPASICConfig.scala
/generators/chipyard/src/main/scala/config/CEPASICConfig.scala
/generators/chipyard/src/main/scala/config/fragments/CEPASICConfigFragments.scala
